*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 5%;
    background: hsl(330, 100%, 89%);
    font: small "Outfit", serif;
    font-weight: 450;
}

p, li, td{
    color: hsl(30, 10%, 34%);
}

.container{
    background-color: #ffffff;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
    width: 590px;
}    

h3 {
    margin-bottom: 10px;
}

.omelette{
    padding: 15px 15px 0;
}    

.omelette > img{
    border-radius: 25px;
    display: block;
    margin: auto;
    width: 100%;
}    

ol, ul{
    padding-left: 20px;
}    

.gen-info {
    padding-bottom: 20px;
}    

.gen-info h1{
    /* text-align: center; */
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 15px;
    margin: 0;
}

.instructions,
.ingredients{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    padding-top: 20px;
    margin: 0 0 5px 0;
}    

li{
    margin: 10px 0;
    padding-left: 15px;
}

li span {
    font-weight: bold;
}


.text-container{
    padding: 30px;
}    

.prep-info{
    background:hsl(330, 100%, 98%);
    border-radius: 20px;
    padding: 15px;
}    

.prep-info h3{
    color: hsl(332, 51%, 32%);
    font-size: small;
}

.nutrition > p{
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: none; 
    padding: 10px;
}

tr:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5); 
}

td:nth-child(2) {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
} /* second column */


.attribution {
    margin: 50px 0 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


a:link, 
a:visited {
    color: blue; 
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: green;
}
